.has-text-centered {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.hero.is-fullheight {
	height: 100vh;
}

.hero.is-dark {
	background-color: #333333;
	color: #eeeeee;
}
.hero.is-blue {
	background-color: #209cee;
	color: #eeeeee;
}
.hero.is-yellow {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, 0.7);
}
.hero.is-light {
	background-color: whitesmoke;
	color: #363636;
}

.hero.is-fullheight .title {
	font-size: 7rem;
}

.hero.is-fullheight .subtitle {
	font-size: 3rem;
}

.menu .item[data-tab] .count {
	padding-left: 3px;
}

.is-dark .ui.button {
	border: 2px solid white;
	border-radius: 5px;
}
.ui.button.is-dark {
	background-color: #333333;
	color: #eeeeee;
}
.ui.button.is-blue {
	background-color: #209cee;
	color: #eeeeee;
}
.ui.button.is-yellow {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, 0.7);
}
.ui.button.is-light {
	background-color: whitesmoke;
	color: #363636;
}

@media only screen and (max-width: 500px) {
    .hero.is-fullheight .title {
		font-size: 4.5rem;
	}

	.hero.is-fullheight .subtitle {
		font-size: 2rem;
	}
}

@media only screen and (max-height: 375px) {
    .hero.is-fullheight .title {
		font-size: 3.5rem;
	}

	.hero.is-fullheight .subtitle {
		font-size: 1.5rem;
	}
}

#attendance .cards {
	margin-top: 10px;
}

.ui.cards>.card .meta {
	font-size: .9rem;
}

.main.screen.buttons {
	margin-top: 30px;
}

#scrollTopBtn {
	position: fixed;
	display: none;
	bottom: 10px;
	right: 10px;
	animation-duration: 1s;
	border: 2px solid #363636;
	border-radius: 5px;
	width: 46px;
	height: 46px;
	padding: 0;
	text-align: center;
}
#scrollTopBtn .icon {
	margin: auto;
}